<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xasz.cms.building.reserve.mapper.BuildingReserveMapper">
	
	<select id="findByPage" resultType="com.xasz.cms.building.reserve.entity.BuildingReserveFormMap">
		select
			*
		from
			building_reserve
		where
			is_delete = 0
		<if test="queryparam != null and queryparam != ''">
		and (
			client_name like concat ('%',#{clientName},'%')
			or
			client_phone like concat ('%',#{clientPhone},'%')
			or
			apartment_name like concat ('%',#{apartmentName},'%')
		)
		</if>
		<if test="reserveStartTime != null and reserveStartTime != ''">
			and date_format(reserve_time, '%Y-%m-%d') &gt;= #{reserveStartTime}
		</if>
		<if test="reserveEndTime != null and reserveEndTime != ''">
			and date_format(reserve_time, '%Y-%m-%d') &lt;= #{reserveEndTime}
		</if>
		<if test="isManage != null and isManage != ''">
			and	is_manage = #{isManage}
		</if>
		<if test="orderbypart != null and orderbypart != ''">
		    order by ${orderbypart}
		</if>
	</select>
	
	<insert id="add" parameterType="com.xasz.cms.building.reserve.entity.BuildingReserveFormMap">
		insert into building_reserve
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="appartment_id != null">
				appartment_id,
			</if>
			<if test="appartment_name != null">
				appartment_name,
			</if>
			<if test="apartment_address != null">
				apartment_address,
			</if>
			<if test="reserve_time != null">
				reserve_time,
			</if>
			<if test="client_name != null">
				client_name,
			</if>
			<if test="client_phone != null">
				client_phone,
			</if>
			<if test="openid != null">
				openid,
			</if>
			<if test="remarks != null">
				remarks,
			</if>
			<if test="create_user_id != null">
				create_user_id,
			</if>
			<if test="create_user_name != null">
				create_user_name,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="update_user_id != null">
				update_user_id,
			</if>
			<if test="update_user_name != null">
				update_user_name,
			</if>
			<if test="update_time != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="appartment_id != null">
				#{appartment_id,jdbcType=CHAR},
			</if>
			<if test="appartment_name != null">
				#{appartment_name,jdbcType=VARCHAR},
			</if>
			<if test="apartment_address != null">
				#{apartment_address,jdbcType=VARCHAR},
			</if>
			<if test="reserve_time != null">
				#{reserve_time,jdbcType=TIMESTAMP},
			</if>
			<if test="client_name != null">
				#{client_name,jdbcType=VARCHAR},
			</if>
			<if test="client_phone != null">
				#{client_phone,jdbcType=VARCHAR},
			</if>
			<if test="openid != null">
				#{openid,jdbcType=VARCHAR},
			</if>
			<if test="remarks != null">
				#{remarks},
			</if>
			<if test="create_user_id != null">
				#{create_user_id,jdbcType=CHAR},
			</if>
			<if test="create_user_name != null">
				#{create_user_name,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=CHAR},
			</if>
			<if test="update_user_id != null">
				#{update_user_id,jdbcType=CHAR},
			</if>
			<if test="update_user_name != null">
				#{update_user_name,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				#{update_time,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateById" parameterType="com.xasz.cms.building.reserve.entity.BuildingReserveFormMap">
		update
			building_reserve
		set
			<if test="reserve_time != null">
				reserve_time = #{reserve_time},
			</if>
			<if test="client_name != null">
				client_name = #{client_name},
			</if>
			<if test="client_phone != null">
				client_phone = #{client_phone},
			</if>
			<if test="is_manage != null">
				is_manage = #{is_manage},
			</if>
			<if test="manage_result != null">
				manage_result = #{manage_result},
			</if>
			<if test="manage_time != null">
				manage_time = #{manage_time},
			</if>
			<if test="manage_user_name != null">
				manage_user_name = #{manage_user_name},
			</if>
			<if test="manage_user_phone != null">
				manage_user_phone = #{manage_user_phone},
			</if>
			<if test="remarks != null">
				remarks = #{remarks},
			</if>
			<if test="is_delete != null and is_delete != ''">
				is_delete = #{is_delete},
			</if>
			update_user_id = #{update_user_id},
			update_user_name = #{update_user_name},
			update_time = #{update_time}
		where 
			id = #{id} 
	</update>
	
	<select id="findById" parameterType="string" resultType="com.xasz.cms.building.reserve.entity.BuildingReserveFormMap">
		select
			*
		from
			building_reserve
		where
			id = #{id}
	</select>
	
	<select id="findAll" parameterType="string" resultType="com.xasz.cms.building.reserve.entity.BuildingReserveFormMap">
		select
			position,
			url
		from
			building_reserve
		where
			is_delete = 0
		<if test="position != null and position != ''">
		and position = #{position}
		</if>
	</select>
	
</mapper>