<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xasz.cms.building.apartment.mapper.BuildingApartmentMapper">
	
	<select id="findByPage" resultType="com.xasz.cms.building.apartment.entity.BuildingApartmentFormMap">
		select
			*
		from
			building_apartment
		where
			is_delete = 0
		<if test="queryparam != null and queryparam != ''">
		and name like concat ('%',#{name},'%')
		</if>
		<if test="type_id != null and type_id != ''">
		and type_id=#{type_id}
		</if>
		<if test="orderbypart != null and orderbypart != ''">
		    order by ${orderbypart}
		</if>
	</select>
	
	<insert id="add" parameterType="com.xasz.cms.building.apartment.entity.BuildingApartmentFormMap">
		insert into building_apartment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="type_id != null">
				type_id,
			</if>
			<if test="type_name != null">
				type_name,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="floor != null">
				floor,
			</if>
			<if test="renovation != null">
				renovation,
			</if>
			<if test="url != null">
				url,
			</if>
			<if test="url_one != null">
				url_one,
			</if>
			<if test="url_two != null">
				url_two,
			</if>
			<if test="url_three != null">
				url_three,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="opening_time != null">
				opening_time,
			</if>
			<if test="hand_time != null">
				hand_time,
			</if>
			<if test="create_user_id != null">
				create_user_id,
			</if>
			<if test="create_user_name != null">
				create_user_name,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="update_user_id != null">
				update_user_id,
			</if>
			<if test="update_user_name != null">
				update_user_name,
			</if>
			<if test="update_time != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="type_id != null">
				#{type_id,jdbcType=CHAR},
			</if>
			<if test="type_name != null">
				#{type_name,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				#{price,jdbcType=DOUBLE},
			</if>
			<if test="floor != null">
				#{floor,jdbcType=INT},
			</if>
			<if test="renovation != null">
				#{renovation,jdbcType=INT},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="url_one != null">
				#{url_one,jdbcType=VARCHAR},
			</if>
			<if test="url_two != null">
				#{url_two,jdbcType=VARCHAR},
			</if>
			<if test="url_three != null">
				#{url_three,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="opening_time != null">
				#{opening_time,jdbcType=CHAR},
			</if>
			<if test="hand_time != null">
				#{hand_time,jdbcType=CHAR},
			</if>
			<if test="create_user_id != null">
				#{create_user_id,jdbcType=CHAR},
			</if>
			<if test="create_user_name != null">
				#{create_user_name,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=CHAR},
			</if>
			<if test="update_user_id != null">
				#{update_user_id,jdbcType=CHAR},
			</if>
			<if test="update_user_name != null">
				#{update_user_name,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				#{update_time,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateById" parameterType="com.xasz.cms.building.apartment.entity.BuildingApartmentFormMap">
		update
			building_apartment
		set
			<if test="type_id != null">
				type_id=#{type_id},
			</if>
			<if test="type_name != null">
				type_name=#{type_name},
			</if>
			<if test="name != null">
				name=#{name},
			</if>
			<if test="price != null">
				price=#{price},
			</if>
			<if test="floor != null">
				floor=#{floor},
			</if>
			<if test="renovation != null">
				renovation=#{renovation},
			</if>
			<if test="url != null">
				url=#{url},
			</if>
			<if test="url_one != null">
				url_one=#{url_one},
			</if>
			<if test="url_two != null">
				url_two=#{url_two},
			</if>
			<if test="url_three != null">
				url_three=#{url_three},
			</if>
			<if test="address != null">
				address=#{address},
			</if>
			<if test="phone != null">
				phone=#{phone},
			</if>
			<if test="opening_time != null">
				opening_time=#{opening_time},
			</if>
			<if test="hand_time != null">
				hand_time=#{hand_time},
			</if>
			<if test="is_delete != null and is_delete != ''">
				is_delete = #{is_delete},
			</if>
			update_user_id = #{update_user_id},
			update_user_name = #{update_user_name},
			update_time = #{update_time}
		where 
			id = #{id} 
	</update>
	
	<select id="findById" parameterType="string" resultType="com.xasz.cms.building.apartment.entity.BuildingApartmentFormMap">
		select
			*
		from
			building_apartment
		where
			id = #{id}
	</select>
	
	
	
</mapper>