<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xasz.cms.property.complaint.mapper.PropertyComplaintMapper">
	
	<select id="findByPage" resultType="com.xasz.cms.property.complaint.entity.PropertyComplaintFormMap">
		select
			*
		from
			property_complaint
		where
			1=1
		<if test="type_name != null and type_name != ''">
			and  type_name like concat ('%',#{type_name},'%')
		</if>	
		<if test="state != null and state != ''">
			and	state = #{state}
		</if>	
		<if test="orderbypart != null and orderbypart != ''">
		    order by ${orderbypart}
		</if>
	</select>
	
	<insert id="add" parameterType="com.xasz.cms.property.complaint.entity.PropertyComplaintFormMap">
		insert into property_complaint
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="type_name != null">
				type_name,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="url_one != null">
				url_one,
			</if>
			<if test="url_two != null">
				url_two,
			</if>
			<if test="openid != null">
				openid,
			</if>
			<if test="create_time != null">
				create_time,
			</if>
			<if test="update_user_id != null">
				update_user_id,
			</if>
			<if test="update_user_name != null">
				update_user_name,
			</if>
			<if test="update_time != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="type_name != null">
				#{type_name,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				#{content,jdbcType=VARCHAR},
			</if>
			<if test="url_one != null">
				#{url_one,jdbcType=VARCHAR},
			</if>
			<if test="url_one != null">
				#{url_two,jdbcType=VARCHAR},
			</if>
			<if test="openid != null">
				#{openid,jdbcType=VARCHAR},
			</if>
			<if test="create_time != null">
				#{create_time,jdbcType=CHAR},
			</if>
			<if test="update_user_id != null">
				#{update_user_id,jdbcType=CHAR},
			</if>
			<if test="update_user_name != null">
				#{update_user_name,jdbcType=VARCHAR},
			</if>
			<if test="update_time != null">
				#{update_time,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateById" parameterType="com.xasz.cms.property.complaint.entity.PropertyComplaintFormMap">
		update
			property_complaint
		set
			<if test="state != null">
				state = #{state},
			</if>
			<if test="remarks != null">
				remarks = #{remarks},
			</if>
			update_user_id = #{update_user_id},
			update_user_name = #{update_user_name},
			update_time = #{update_time}
		where 
			id = #{id} 
	</update>
	
	<select id="findById" parameterType="string" resultType="com.xasz.cms.property.complaint.entity.PropertyComplaintFormMap">
		select
			id,
			type_name,
			content,
			url_one,
			url_two,
			state,
			remarks,
			DATE_FORMAT(create_time, '%Y-%m-%d') AS create_time,
			DATE_FORMAT(update_time, '%Y-%m-%d') AS update_time
		from
			property_complaint
		where
			id = #{id}
	</select>
	<select id="getfindById" parameterType="string" resultType="com.xasz.cms.property.complaint.entity.PropertyComplaintFormMap">
		select
			id,
			type_name,
			content,
			url_one,
			url_two,
			state,
			remarks,
			DATE_FORMAT(create_time, '%Y-%m-%d') AS create_time,
			DATE_FORMAT(update_time, '%Y-%m-%d') AS update_time
		from
			property_complaint
		where
			openid = #{openid}
	</select>
	<select id="getfindAll" parameterType="string" resultType="com.xasz.cms.property.complaint.entity.PropertyComplaintFormMap">
		select
			id,
			type_name,
			content,
			url_one,
			url_two,
			state,
			remarks,
			DATE_FORMAT(create_time, '%Y-%m-%d') AS create_time,
			DATE_FORMAT(update_time, '%Y-%m-%d') AS update_time
		from
			property_complaint
		where
			openid = #{openid}
	</select>
	
	<select id="findAll" resultType="com.xasz.cms.property.complaint.entity.PropertyComplaintFormMap">
		select
			id,
			type_name,
			content,
			url_one,
			url_two,
			state,
			remarks,
			DATE_FORMAT(create_time, '%Y-%m-%d') AS create_time,
			DATE_FORMAT(update_time, '%Y-%m-%d') AS update_time
		from
			property_complaint
		where
			1 = 1
	</select>
	
</mapper>